* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Public Sans", sans-serif;
}

@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/public-sans-v15-latin-100.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v15-latin-regular.woff2") format("woff2");
}

.contener {
  width: 1110px;
  margin: 0 auto;
}

.contener h1 {
  font-family: "Public Sans", sans-serif;
  color: rgb(49, 49, 77);
  font-weight: 200;
  line-height: 64px;
  letter-spacing: -1px;
}

.contener p {
  line-height: 28px;
  color: rgb(149, 151, 165);
  width: 550px;
}

.a1 p {
  width: 250px;
  margin-top: 20px;
  font-size: 15px;
}

.a1 h2 {
  color: #2d314d;
  margin-top: 20px;
  font-weight: 300;
}

.a1 img {
  width: 72px;
  height: 72px;
}

.a1 {
  padding-top: 70px;
  width: 200px;
}

.main {
  display: flex;
  justify-content: center;
}

.navi li {
  list-style: none;
}

.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  background-color: white;
  font-family: "Public Sans", sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.menu li a {
  font-size: 14px;
  line-height: 16px;
}

.request {
  background: linear-gradient(
    149deg,
    rgba(51, 211, 94, 1) 6%,
    rgba(42, 182, 217, 1) 95%
  );
  border: none;
  color: white;
  padding: 8px 36px 8px 33px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500px;
  font-size: 14px;
  line-height: 28px;
}

.h-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h-main img {
  width: 600px;
}

.h-text h1 {
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2d314d;
}

.h-text p {
  font-size: 18px;
  line-height: 28px;
  color: #9597a5;
  width: 447px;
  margin: 24px 0px 36px 0px;
}

.s1 {
  background-color: #fafafa;
}

.t1 {
  width: 255px;
}

.obsh {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.ftr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.f1 {
  line-height: 70px;
}

.mn1 {
  line-height: 35px;
}

.brbl {
  margin-right: -300px;
  margin-left: 80px;
}

.menus1 {
  text-decoration: none;
}

.mn1 {
  text-decoration: none;
}
